.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        color: var(--yellow-theme-main-color);
        margin: 0;
        font-weight: 500;
        font-size: 8rem;
        line-height: 10rem;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        animation: typingEffectAnimation 2.5s steps(30, end);
    }

    &__contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding: 20px;

        .button {
            padding: 20px 50px; /* Adjusted the button size */
            background-color: rgba(255, 223, 0, 0.9);
            color: #fff;
            border: 2px solid var(--yellow-theme-main-color);
            border-radius: 8px;
            font-size: 1.8rem;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: rgba(255, 223, 0, 0.8);
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    h1 {
        font-size: 6rem;
        line-height: 7rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
    h1 {
        font-size: 7rem;
        line-height: 8rem;
    }
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
